// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

html, body, #app {
    height:100%;
}

.form-control-xl {
    font-size: 1.5em;
}

.navbar {
    box-shadow: none !important;
    background: #5e77e3;
}

.nav-link {
    color:#fff !important;
}

.nav-link:hover {
    color:#d5dbf5 !important;
}

.nav-link:active {
    color:#f0f2fc !important;
}