// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.btn-google {
    color: #fff;
    background-color:#dd4b39;
    border-color:#dd4b39;
}

.btn-google:hover {
    color:#fff;
    background-color:#b53e2f;
    border-color:#b53e2f;
}